.layout-container {
	display: -webkit-flex;
	display: flex;
	width: 100%;
	height: 100%;
}

.layout-left {
	width: 20%;
	height: 100%;
	background-color: red;
	position: fixed;
}

.layout-right {
	display: flex;
	width: 80%;	
	background-color: blue;
	margin-left: 20%;
}

.layout-right h1 {
	height: 200px;
}

.layout-right-list-container {
	max-width: 970px;
	height: 100%;
	margin: 0 auto;
	background-color: green;
}
