
.content {
	width: 100%;
	max-width: 920px;
	height: 100%;
	
}

.readmore,
nav a {
    cursor: pointer
}

.readmore {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}
